<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conectionString" providerName="System.Data.SqlClient" connectionString="Data Source=THIEN\SQLEXPRESS;Initial Catalog=QLPhongMach;Integrated Security=True;Initial Catalog=QLPhongMach;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="pageSize" value="5"/>
		<add key="SoBenhNhan" value ="40"/>
	</appSettings>
</configuration>